.cup-box
{
	margin: 5px; 
	margin-bottom:20px; 
	border: 1px solid #CDCBBC;
	margin: 20px 0px;
	/*box-shadow: 5px 5px 20px #DFE0E1;		*/
}
.cup-box:first-child
{
	margin: 5px; 
	margin-bottom:20px; 
	border: 1px solid #CDCBBC;
	margin: 0px 0px;
	/*box-shadow: 5px 5px 20px #DFE0E1;		*/
}
.cup-title-box
{
	padding:10px 15px;
	margin:0px;
}
.cup-title, .cup-title:hover
{
	height: inherit; 
	color:#56D1BF; 	
	font-size:22px;
	text-decoration: none;
}
.cup-text-box
{
	margin:0px; 
	padding:10px 30px;
	height:330px; 
	overflow:hidden;
	/*border: 1px solid #CDCBBC;*/
}
.cup-image-box
{
	margin:0px; 
	padding:0px;
	height:330px; 
	overflow:hidden;
}
.cup-image-box img
{
	width:100%;
}
.cup-icon
{
	font-weight:700; 
	color:#F3C723;
	/*color: grey;*/
	/*color: grey;*/
	font-size:15px;
}
.cup-year
{
	font-size: 10px; 
	font-weight:bold; 
	padding:0px; 
	color: black;
	font-size:16px;
}
.cup-author
{
	font-size:12px;
	font-weight:bold; 
	vertical-align:bottom; 
	text-align:right;	
}
.poem-jumbo{
    padding: 30px;
    border: 1px solid #DFE0E1;
    position: relative;
    background-color: white;
    border-radius: 0px;
}
.poem-jumbo:hover{   
    box-shadow: 0px 0px 20px #DFE0E1;
}
.poem-box{
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    cursor: default;     
}
.poem_content span
{
	text-align: center; 
	font-size:14px;
}
.poem_content span p{
    margin: 0px;
}
.name_link{
	color:black; 
	font-size:14px; 
	font-weight: 700; 
	padding: 8px 0px;
}

.more_link{
	color:black; 
	font-size: 11px; 
	font-weight: bold; 
	text-decoration:none;
}
.com_n_views{
	color: #C41971; 
	font-size:13px;
	width:100%;
}
.com_td{
	padding-top: 10px; 
	width:35%;
}
.views_td{
	text-align: right;
	width:35%;
}